/*réglagle de base*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Lato';
}
/*importation de la goole font*/
@font-face {
  font-family: 'Lato';
  src: url(https://fonts.google.com/specimen/Lato );
}

/*espacement bouton*/
.bouton {
  letter-spacing: 5px;
}

/*Taille Img dé*/
img {
  height: 100px;
  width: 100px;
}


